@use "variables" as *;

/* Links
--------------------------------------------- */
%link {
    color: $colorRed ;
    text-decoration: none;
}

a:hover {
    @extend %link;
}

a:visited,
a:focus {
    @extend %link;
}

.card-information:hover h3,
.card-information:focus h3 {
    @extend %link;
}
