@use "variables" as *;

@mixin important-text {
  display: grid;
  position: fixed;
  background-color: $myColor;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}