
$myFont: 'oswald' , Arial, Helvetica, sans-serif;

$mySecondFont: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" ;

$myColor: rgb(255, 255, 255);

$colorRed: red;